.container {
  margin-top: 2rem; /* Puedes ajustar esta cantidad según sea necesario */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2rem; /* Espacio entre tarjetas */
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-card .card-body {
  padding: 1rem;
  text-align: center;
}

.product-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem; /* Espacio inferior del título */
}

.product-card .card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem; /* Espacio inferior del texto */
}

.product-card .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.product-card .btn:hover {
  background-color: #3e8e41;
}

.footer {
  background-color: #f8f9fa; /* Color de fondo gris */
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
